@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /* Dotted grid pattern for background */
  --pattern-dotted-grid: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2' cy='2' r='1' fill='%23000' opacity='0.3'/%3E%3C/svg%3E");
  --primary: oklch(66.9% 0.18368 248.8066);
  --secondary: oklch(62.9% 0.1 250);
  --background: oklch(0.9427 0 0);
  --highlighter: oklch(0.93 0.17 98.5); /* Vibrant yellow */
  --tape: oklch(0.96 0.03 100); /* Masking tape */
  --card-background: oklch(0.9702 0 0);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --muted-foreground: oklch(0% 0 0 / 0.5);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(66.9% 0.18368 248.8066);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #0099ff;
  --chart-2: #ff4d50;
  --chart-3: #facc00;
  --chart-4: #05e17a;
  --chart-5: #7a83ff;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(27.08% 0.0336 240.69);
  --card-background: oklch(23.93% 0 0);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --muted-foreground: oklch(0% 0 0 / 0.5);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(61.9% 0.16907 248.5982);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #008ae5;
  --chart-2: #ff6669;
  --chart-3: #e0b700;
  --chart-4: #04c86d;
  --chart-5: #7a83ff;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-card-background: var(--card-background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-highlighter: var(--highlighter);
  --color-tape: var(--tape);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 15px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 700;
  --font-family-heading:
    var(--font-young-serif), Georgia, 'Times New Roman', serif;
  --font-family-base: var(--font-work-sans), sans-serif;
}

@layer base {
  body {
    @apply text-foreground bg-background;
    font-family: var(--font-family-base);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-heading);
  }
}
